<app-header></app-header>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nihil neque minus reprehenderit magni quisquam possimus eius doloribus similique voluptas.</p>
<p>
  <mat-icon svgIcon="cancel"></mat-icon>
  <mat-icon svgIcon="audio"></mat-icon>
  <mat-icon svgIcon="cancel"></mat-icon>
  <mat-icon svgIcon="delete"></mat-icon>
  <mat-icon svgIcon="destination"></mat-icon>
  <mat-icon svgIcon="filters"></mat-icon>
  <mat-icon svgIcon="retry"></mat-icon>
  <mat-icon svgIcon="search"></mat-icon>
  <mat-icon svgIcon="status"></mat-icon>
  <mat-icon svgIcon="video"></mat-icon>
  <mat-icon svgIcon="workflow"></mat-icon>
</p>

<app-tabs></app-tabs>

<router-outlet></router-outlet>