<div class="orders">

  <div class="card-controls">
    <mat-checkbox class="select-all" [(ngModel)]="master_checked" (change)="checkAll()">Select All</mat-checkbox>

    <button mat-raised-button color="primary" *ngIf="showButton">Request</button>
  </div>

  <div class="cards">
    <div *ngIf="orders">
      <app-search-resutls-card *ngFor="let item of orders" [order]="item" (checkedItem)="checkedItem($event)">
      </app-search-resutls-card>
    </div>
    <div>
      <mat-card>
        <p>
          {{ selectedOrders }}
        </p>
      </mat-card>
    </div>
  </div>
</div>

<p>Shared message 2: {{ message }}</p>

<ul>
  <li *ngFor="let fruit of fruitsData">{{ fruit }}</li>
</ul>


<app-search-resutls-card></app-search-resutls-card>